@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "SamsungOne", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
}

